@{
  ViewData["Title"] = "Success";
}


<div class="index">
    <div class="panel panel-default index__header">
      <h3 class="panel-body">
        Note Saved Successfully
      </h3>
    </div>

  <div class="index__new-note-button-wrapper">
    <a asp-action="Index" class="index__new-note-button">Return Home</a>
  </div>
</div>

